.container {
  max-width: 850px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;

  &:hover {
    border: 1px solid black;
  }
  &:active {
    color: black;
  }
}
